!!! 5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(rel='stylesheet', href="/thirdparty/bootstrap/bootstrap-combined.min.css")
		link(rel='stylesheet', href="/thirdparty/bootstrap/bootstrap-responsive.min.css")
		link(rel='stylesheet', href="/thirdparty/bootstrapSwitch.css")
		link(rel='stylesheet', href="/stylesheets/style.css")

		script(type='text/javascript', src='/thirdparty/jquery.min.js')
		script(type='text/javascript', src='/thirdparty/bootstrap/bootstrap.min.js')
		script(type='text/javascript', src='/thirdparty/underscore-min.js')
		script(type='text/javascript', src='/thirdparty/bootstrapSwitch.min.js')
		script(src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/javascripts/index.js')

	body
		.container
			.helloworld SimonHuePi

